<% provide(:title, 'About Us') %>


  <center>  
	<u> <b> <h1>CONTACT</h1></b></u>

	   <h2>
	     MUSIC THINGS BLA BLA
	     <a href="http://spotify.com">SPOTIFY MUSIC</a>
	   </h2>
	   <div class="carousel slide" id="mountains" data-ride="carousel">
	     <div class="carousel-inner">
	       <div class="item active">
	     <div class="row">
	       <div class=" col-xs-4">
	         <div class="thumbnail">
	     <%= image_tag 'Fractal.jpg' %>
	           <div class="caption">
	             <h3>Club Nights</h3>
	             <p>Lalalallalalaala</p>
	   		  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-warning" %>
	           </div>
	         </div>
	       </div>

	       <div class="col-xs-4">
	         <div class="thumbnail">
	           <%= image_tag 'fractal1.jpg' %>
	           <div class="caption">
	             <h3>Art Galleries</h3>
	             <p>Lalalalalalalal</p>
	   		  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-danger" %>
	           </div>
	         </div>
	       </div>

	       <div class="col-xs-4">
	         <div class="thumbnail">
	           <%= image_tag 'fractal2.jpg' %>
	           <div class="caption">
	             <h3>Science</h3>
	             <p>Lalalalalalalal</p>
	   		  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>
	           </div>
	         </div>
	       </div>
	     </div>
   <a class="btn btn-primary" href="mailto:xxxxxx@whatever.com?subject=yyyyyyyyy Photography">Email Us</a>
</center>
</form>

<body>
  <!-- AddThis Smart Layers BEGIN -->
  <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ef8e36755cffe7"></script>
  <script type="text/javascript">
    addthis.layers({
      'theme' : 'dark',
      'share' : {
        'position' : 'left',
        'numPreferredServices' : 5
      }, 
      'follow' : {
        'services' : [
          {'service': 'facebook', 'id': 'mark'},
          {'service': 'twitter', 'id': 'levz23'}
        ]
      }   
    });
  </script>
  <!-- AddThis Smart Layers END --> </body>